* {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    vertical-align: inherit;
}

html,
body {
    height: 100%;
    position: relative;
}

header {
    display: block;
    width: 100%;
    height: 1.935185rem;
    background: #ff4163;

    span {
        display: block;
        //line-height: 1.935185rem;
        font-size: .37037rem;
        text-align: center;
        padding-top: 12%;
        color: #fff;
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
        width: 100%;
        height: 6.277778rem;

        img {
            width: 2rem;
            height: 2rem;
            position: relative;
            top: 2.981481rem;
            left: 50%;
            margin-left: -1rem;
        }

        .skip {
            width: 1.203704rem;
            height: .555556rem;
            background: #e5e5e5;
            line-height: .555556rem;
            text-align: center;
            border-radius: .277778rem .277778rem;
            float: right;
            margin-top: .277778rem;
            margin-right: .324074rem;
            color: #8a8a8a;
        }
    }

    /*    .dl {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        input {
            clear: both;
        }
    } */

    .login-form {
        max-width: 300px;
        margin: 0 auto;
    }

    .login-form-forgot {
        float: right;
    }

    .login-form-button {
        width: 100%;
    }

    .ant-col {
        text-align: left;
    }

    .ant-input {
        height: 1.203704rem;
        box-shadow: 0 0 .009259rem .009259rem #f3f3f4;
    }

    .ant-btn-primary {
        background: #ff4163;
        border: none;
        height: 1.231481rem;

    }

    .verification-code {
        display: block;
        width: 2.685185rem;
        height: 1rem;
        line-height: 1rem;
        background: #fff;
        color: #2ea8f5;
        border: none;
        position: relative;
        top: -1.1rem;
        left: 65%;
        text-align: center;
    }

    .ant-checkbox-wrapper {
        position: relative;
        top: -1.092593rem;
    }

    .ant-btn {
        position: relative;
        top: -0.8rem;
    }

    .ant-checkbox-wrapper {
        position: relative;
        top: -1.092593rem;

    }

    .ant-btn-primary:active,
    .ant-btn-primary.active {
        background: #ff4163;
        border: none;
        height: 1.231481rem;
    }

    .ant-btn-primary:hover,
    .ant-btn-primary:focus {
        background: #ff4163;
        border: none;
        height: 1.231481rem;
    }

}