li {
  list-style: none;
}
.top {
  height: 2.037037rem;
  background-color: #fe6172;
}
.cons {
  position: relative;
  height: 16.666667rem;
  background-color: #f4f4f4;
  width: 100%;
  .conlist {
    position: absolute;
    top: -0.740741rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 9.037037rem;
    padding: 0.407407rem 0.222222rem;
    border-radius: 0.092593rem;
    .con {
      float: left;
      width: 4.166667rem;
      text-align: center;
      padding: 0.537037rem 0 0.62963rem;
      border-right: 1px solid #f4f4f4;
      img {
        height: 0.907407rem;
        width: 0.907407rem;
        display: inline-block;
      }
      h3 {
        margin-top: 0.425926rem;
        font-size: 0.314815rem;
        line-height: 0.314815rem;
      }
      p {
        margin-top: 0.462963rem;
        font-size: 0.277778rem;
        line-height: 0.277778rem;
        color: #9e9d9e;
      }
    }
    .con:nth-child(-n + 6) {
      border-bottom: 0.009259rem solid #f4f4f4;
    }
    .con:nth-child(2n) {
      border-right: none;
    }
  }
}
