.mine {
  background-color: #fff;
}

.top_info {
  padding: 0.277778rem 0.37037rem 0.555556rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #fa5c6a;
}

.top_info .left {
  display: flex;
  line-height: 1.62963rem;
}

.top_info .left .imgcon {
  height: 1.62963rem;
  width: 1.62963rem;
  background-color: #fff;
  border-radius: 50%;
}

.top_info .left .text {
  font-size: 0.296296rem;
  margin-left: 0.277778rem;
}

.top_info .right {
  position: relative;
  display: flex;
  justify-content: center;
}

.top_info .right .dis {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.296296rem;
  margin-right: 0.277778rem;
  margin-top: 0.481481rem;
}

.top_info .right .dis span {
  line-height: 0.296296rem;
}

.top_info .right .dis .days {
  margin-top: 0.240741rem;
}

.top_info .right .anticon-right {
  margin-top: 0.777778rem;
}

.top_info_bottom {
  margin-top: -0.018519rem;
  height: 0.37037rem;
  background: url(/img/mine/mine_bg_02.jpg) no-repeat center bottom;
  background-size: 100% 100%;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding: 0.37037rem 0;
}

.icons .current {
  font-size: .37037rem;
}

.icon {
  text-align: center;
}

.icon img {
  height: 0.425926rem;
  width: 0.425926rem;
}

.icon h3 {
  font-size: 0.296296rem;
  line-height: 0.296296rem;
  margin-top: 0.277778rem;
}

.two .icon img {
  height: 0.574074rem;
  width: 0.574074rem;
}
