.mine {
  background-color: #fff;
  overflow-x: hidden;
}
.top_info {
  padding: 0.277778rem 0.37037rem 0.555556rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #fa5c6a;
  .left {
    display: flex;
    line-height: 1.62963rem;
    .imgcon {
      height: 1.62963rem;
      width: 1.62963rem;
      background-color: #fff;
      border-radius: 50%;
    }
    .text {
      font-size: 0.296296rem;
      margin-left: 0.277778rem;
    }
  }
  .right {
    position: relative;
    display: flex;
    justify-content: center;
    .dis {
      margin: 0;
      display: flex;
      flex-direction: column;
      font-size: 0.296296rem;
      margin-right: 0.277778rem;
      margin-top: 0.481481rem;
      span {
        line-height: 0.296296rem;
      }
      .days {
        margin-top: 0.240741rem;
      }
    }
    .anticon-right {
      margin-top: 0.777778rem;
    }
  }
}
.top_info_bottom {
  margin-top: -0.018519rem;
  height: 0.37037rem;
  background: url(/img/mine/mine_bg_02.jpg) no-repeat center bottom;
  background-size: 100% 100%;
}
.icons {
  display: flex;
  justify-content: space-around;
  padding: 0.37037rem 0;
  .current {
    font-size: 0.37037rem;
  }
}
.icon {
  text-align: center;
  img {
    height: 0.425926rem;
    width: 0.425926rem;
    display: inline-block;
  }
  h3 {
    font-size: 0.296296rem;
    line-height: 0.296296rem;
    margin-top: 0.277778rem;
  }
}
.two {
  .icon {
    img {
      height: 0.574074rem;
      width: 0.574074rem;
    }
  }
}
.date {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.185185rem;
  left: 0;
  opacity: 0;
}

.like {
  font-size: 0.277778rem;
  line-height: 0.277778rem;
  color: #c5c5c5;
  text-align: center;
  margin-bottom: 0.453704rem;
  span:before,
  span:after {
    content: "";
    display: inline-block;
    width: 0.277778rem;
    height: 0.037037rem;
    background-color: #c5c5c5;
    margin: 0 0.277778rem;
    vertical-align: middle;
  }
}
