.myshops {
  .con {
    display: flex;
    justify-content: space-between;
    padding: 0.388889rem 0.583333rem 0.388889rem 0.388889rem;
    img {
      width: 1.351852rem;
      height: 1.351852rem;
    }
    .text {
      margin-left: 0.277778rem;
      flex: 1;
      p:nth-child(1) {
        font-size: 0.37037rem;
        line-height: 0.37037rem;
        margin-top: 0.12963rem;
        color: #000;
      }
      p:nth-child(2) {
        span {
          display: inline-block;
        }
        .star {
          width: 1.61333333rem;
          height: 0.28rem;
          background-repeat: no-repeat;
          background-size: 1.61333333rem 0.28rem;
          background-image: url("/img/common/star.png");
        }
        .type {
          margin-left: 0.203704rem;
          padding: 0 0.05333333rem 0.05333333rem;
          background-color: #8ccdb9;
          border-radius: 0.10666667rem;
          font-size: 0.26666667rem;
          text-align: center;
          color: #fff;
        }
      }
    }
    .l_con {
      display: flex;
      align-items: center;
      span {
        width: 1.388889rem;
        height: 0.648148rem;
        line-height: 0.648148rem;
        text-align: center;
        background-color: #ebedea;
        color: #989a97;
      }
    }
   
  }
}
