.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 1.222222rem;
  background-color: #ff4163;
  p {
    font-size: 0.425926rem;
    text-align: center;
    line-height: 1.222222rem;
    color: #fff;
    margin-bottom: 0;
  }
}
