* {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  vertical-align: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

.tablist {
  width: 100%;
  height: 5.712963rem;
  background: #f0f0f0;
  border-radius: .462963rem .462963rem;
  margin: .185185rem 0;
}

.tablist .headline {
  width: 100%;
  height: 1.453704rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem .277778rem;
}

.tablist .headline span {
  display: block;
  width: 5.555556rem;
  height: .555556rem;
  font-size: .342593rem;
  color: red;
  margin: 0.5rem 0 0.5rem 0;
}

.tablist .headline strong {
  font-style: normal;
  width: 3rem;
  height: .509259rem;
  margin: 0.5rem 0 .462963rem 0;
  color: #b1b1b1;
  font-weight: normal;
  font-size: .351852rem;
}

.tablist .content {
  width: 100%;
  height: 3.972222rem;
  background: white;
  border-radius: .462963rem .462963rem;
}

.tablist .content span {
  display: block;
  width: 100%;
  height: .462963rem;
  font-size: .462963rem;
  color: #000;
  font-weight: 900;
  margin-left: .462963rem;
  margin-top: .277778rem;
}

.tablist .content p {
  width: 100%;
  font-size: .361111rem;
  margin-top: .388889rem;
  padding: 0px .416667rem 0px .416667rem;
}
