html,
body,
#root {
  height: 100%;
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 1.222222rem;
}
main {
  flex: 1;
  overflow-y: auto;
}
.ant-row-flex-space-around {
  background-color: #fff;
  width: 100%;
  padding: 0.266667rem 0;
}
.ant-col {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.ant-col i,
p {
  font-size: 0.444444rem;
}
.ant-col p {
  margin-bottom: 0;
  margin-top: 0.066667rem;
  font-size: 0.2rem;
}
.active {
  color: red;
}
