* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

ul,
li {
    list-style: none;
}

body {
    background-image: url(../../doc/logo/bgimg.jpg);
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.dl {
    width: 550px;
    height: 320px;
    background: rgba(228, 228, 228, 0.6);
    padding-top: 50px;
    padding: 0 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -225px;
    border-radius: 10px 10px;
}

.ant-form.ant-form-horizontal.login-form {
    width: 80%;
    margin: 50px auto;

}

.ant-input-affix-wrapper {
    height: 45px;
    background: rgba(228, 228, 228, 0.6);
    border-radius: 10px 10px;
}

.ant-input {
    background: rgba(228, 228, 228, 0.6);

}

.ant-btn.login-form-button.ant-btn-primary {
    width: 80%;
    margin-left: 42px;
    background: rgba(228, 228, 228, 1);
    border-color: #cccccc;
    color: rgb(75, 75, 63);

}