* {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    vertical-align: inherit;
}

html,
body {
    height: 100%;
    position: relative;
}

.tabVideo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .462963rem;
    color: #000;

    .video {
        width: 9.12037rem;
        height: 6.037037rem;
        border-radius: .462963rem .462963rem;
        background: seagreen;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .title {
        width: 100%;
        height: .527778rem;
        line-height: .527778rem;
        margin: .277778rem 0 .185185rem 0;

        span {
            display: block;
            height: .527778rem;
            line-height: .527778rem;
            background: #ffe9eb;
            border-radius: .462963rem .462963rem;
            float: left;
            font-size: .277778rem;
            text-align: center;
            color: red;
            white-space: nowrap;
            overflow: hidden;
            margin-right: .185185rem;
            padding: 0rem .138889rem;
        }

        p {
            float: left;
            font-size: 16px;
            width: 7rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

    .site {
        width: 100%;
        height: .324074rem;
        font-size: .277778rem;
        color: #999;

        span {
            margin-left: .092593rem;
            background: #000;
            border-radius: .092593rem 0 .092593rem 0;
            padding: 0rem .092593rem;
            color: #efd7b1;
            font-weight: 600;
        }
    }

    .price {
        float: right;
        position: relative;
        top: -14px;
        left: 7.407407rem;
        color: #e5515f;
        font-size: 16px;
    }
}